inputs
outputs
log
*.pyc
pretrained_models/
*__pycache__
*_bak*
.idea
/data/
/data/*
out
out/
input
input/
prepare_pose
out*/
*.jpg
*.png
*.mp4
# Image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico
*.svg
*.webp
anaconda.sh
*anaconda*.sh
ailab_DWPose_not_git/
*ailab_DWPose*
ControlNet-v1-1-nightly/
